<div th:replace="~{layout :: layout(~{:: .page-layout})}">
    <div class="page-layout flow">
        <h1>Edit Campaign</h1>

        <form class="flow" method="post" th:object="${campaignEditRequest}">
            <input type="hidden" th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}">
            <div class="input-field">
                <label class="input-field__label" for="name">
                    Edit the name of the campaign (required)
                </label>
                <input class="input-field__input" type="text" th:field="*{name}"
                       required>
                <p th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}">Error for name</p>
            </div>
            <button class="button button--primary">Submit</button>
            <a th:href="@{/campaigns}" class="button">Cancel</a>
        </form>
        <div>
            <button class="button button--alert"
                    popovertarget="delete-confirmation">Delete
            </button>
            <dialog class="card" id="delete-confirmation" popover>
                <h1>Delete Campaign</h1>
                <p>Are you sure that you want to delete the campaign?</p>
                <form method="post" th:action="|/campaigns/${id}/delete|">
                    <button class="button button--alert" type="submit">Yes
                    </button>
                    <button class="button button--primary" type="button"
                            popovertarget="delete-confirmation">No
                    </button>
                </form>
            </dialog>
        </div>
    </div>
</div>
