<header class="header" th:fragment="navbar">
    <nav class="navbar">
        <a th:href="@{/}" class="navbar__heading typography-headline">Starfinder</a>
        <ul class="navbar__list">
            <li class="navbar__item"
                th:each="navigationItem: ${navigationItems}"
                th:classappend="${navigationItem.active ? 'navbar__item--active' : ''}">
                <a class="clickable-object typography-title" th:href="@{${navigationItem.url}}"
                   th:text="${navigationItem.title}">Titel</a>
            </li>
        </ul>
    </nav>
</header>