<div th:replace="~{layout :: layout(~{:: .page-layout})}">
    <div class="page-layout flow">
        <h1 class="typography-headline"
            th:text="|Edit ${characterEditRequest.name}">Edit Characterss
        </h1>
        <form class="flow" method="post" th:object="${characterEditRequest}">
            <input type="hidden" th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}">
            <div class="input-field">
                <label class="input-field__label" for="name">
                    Give the character a name (required)
                </label>
                <input class="input-field__input" type="text" th:field="*{name}"
                       required>
                <p th:if="${#fields.hasErrors('name')}"
                   th:errors="*{name}">Error for name</p>
            </div>
            <button class="button button--primary">Submit</button>
            <a th:href="@{/characters}" class="button">Cancel</a>
        </form>
    </div>
</div>