*:has(>.clickable-object) {
    position: relative;

    &:focus-within {
        outline: var(--color-text) solid 3px;
        outline-offset: 3px;
    }
}

.clickable-object {
    color: inherit;
    text-decoration: none;
    outline: transparent;
}

.clickable-object:before {
    content: "";
    position: absolute;
    inset: 0;
}