.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--space-m);
    border-bottom: 1px solid var(--color-border);
    box-shadow: var(--shadow);
}

.navbar__heading {
    font-size: var(--font-size-2);
}

.navbar__list {
    display: flex;
}

.navbar__item {
    --_nav-list__item--background-color: var(--nav-list__item--background-color, transparent);
    --_nav-list__item--color: var(--nav-list__item--color, var(--color-text));
    --_navbar__item--font-weight: var(--navbar__item--font-weight, inherit);

    background-color: var(--_nav-list__item--background-color);
    color: var(--_nav-list__item--color);
    padding: var(--space-s);
    position: relative;
    font-weight: var(--_navbar__item--font-weight);
}

.navbar__item--hover,
.navbar__item:hover:not(.navbar__item--active) {
    --_nav-list__item--background-color: color-mix(in hsl, var(--nav-list__item--background-color, transparent), var(--color-highlight));
}

.navbar__item--active {
    --nav-list__item--background-color: var(--color-primary);
    --nav-list__item--color: var(--color-background);
    --navbar__item--font-weight: 600;
}
